@font-face {
	font-family: "Instagram new";
	font-style: normal;
	font-weight: normal;
	src: local("Instagram new"),
		url("./instagram-new/Demo_Fonts/Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf")
			format("woff");
}
body,
button,
input,
textarea {
	color: #262626;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}
body{
	background-color: #fafafa;
	display: flex;
}
.logo {
	font-family: "instagram new";
	font-size: xxx-large;
	font-weight: unset;
}
