@font-face {
	font-family: "Instagram new";
	font-style: normal;
	font-weight: normal;
	src: local("Instagram new"),
		url("./instagram-new/Demo_Fonts/Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf") format("woff");
}
.logo{
    font-family: 'instagram new';
    font-size: xxx-large;
    font-weight: unset;
}